*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: sans-serif;
    background-color: #363642;
    overflow-x: hidden;
}

                    /* ALL NAV IEMS DESIGN */

.nav-bars nav{
    display: flex;
    justify-content: space-between;
    width: 102%;
    padding: 21px;
}
 #Logo{
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 78px;

}
.nav-bars ul li{
    display: inline;
    margin: 32px;
}
.nav-bars ul li a{
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 22%;
    color: white;
}
.nav-bars ul li a:hover{
    color: #dfae3c;
}


.nav-items{
    position: relative;
    right: 10%;
    letter-spacing: 15px;
}
.nav-items a i{
    position: relative;
    top: 30%;
    color: white;
}
.nav-items a i:hover{
    color: #dfae3c;
}

footer{
    position: absolute;
    top: 30%;
    left: 23%;
}
.text-im h1{
    font-size: 378%;
    color: #9F9FAA;
    font-weight: lighter;
}
.text-im h4{
    color: white;
    font-size: 349%;
    margin-bottom: 3%;
    word-spacing: 0rem;
}
.text-im h4 span{
    border-bottom: 3px solid #dfae3c;
    padding-bottom: 2%;
}
.text{
    color: white;
    width: 22%;
    font-size: 84%;
    padding-top: 1%;
    line-height: 126%;

}

                               /* Pic background color */
.bor{
    width: 57%;
    /* border: 1px solid black; */
    height: 460px;
    background-color: #2d2d39;
    position: absolute;
    left: 151px;
    border-radius: 100%;
    z-index: -1;
    bottom: -65px;
}
.img{
    display: flex;
    justify-content: center; 
}
.img img{
    position: relative;
    right: 1%;
    bottom: 1rem;
    width: 34%;
}

.left-text{
    position: absolute;
    left: 63%;
    top: 28%;
    color: white;
}

.left-text p{
        margin-bottom: 2%;
}
#text{
    width: 41%;
    font-size: 86%;
    line-height: 145%;
}

.link a,i{
    color: #dfae3c;
    text-decoration: none;
    padding-top: 2%;
}
.link :hover{
    color: #9f9fab;
}
                       /* bottom social links */
 .social-back{
    border: 1px solid black;
    width: 8%;
    height: 4vh;
    position: relative;
    /* top: 51px; */
    right: 1%;
    background-color: #434657;
    z-index: -1;
    border-radius: 74%;
 }


.social i{
    width: 13px;
    height: -3vh;
    padding: 2%;
    border-radius: 68%;
    font-size: 17px;
    margin-inline: 1%;
    background-color: #434657;
    margin-top: 3%;
}      
 .social-bars{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #403f4f;
    margin-inline-end: 10%;
    margin-inline-start: 8%;
    border-radius: 20px;
    position: relative;
    bottom: 25px;
    left: 0%;
    padding: 3px;
}




/* .social-bars a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 118%;
    color: white;
}
.googl{
    width: 90px;
    position: relative;
    top: 5px;
}
.social-bars div img{
    width: 90px;
    position: relative;
    top: 5px;
} */


                                 /* use bottom background image */
section{
    background: #282834;
    height: 650px;
    width: 150%;
    position: relative;
    bottom: 57px;
    z-index: -111;
 }


 .new-texts h3 {            
    position: relative;
    left: 6%;
    top: 78px;
    font-size: 189%;
    width: 13%;
    color: white;
    margin-bottom: 12px;
 }
 .para {
    position: relative;
    left: 6%;
    top: 90px;
    font-size: 12%;
    color: aliceblue;
    font-size: 84%;
    width: 12%;
    line-height: 20px;
 }



                              /* first  */

 .pro{
    position: relative;
    left: 6%;
    top: 121px;
 }

 .pro div{
    color: #dfae3c;
    font-weight: bold;
    font-size: 150%;
 }
 .pro p{
    color: white;
   font-size: 84%;
 }

                               /* .second */
 .second{
    position: relative;
    left: 13%;
    top: 78px;
 }

 .second div{
    color: #dfae3c;
    font-weight: bold;
    font-size: 150%;
 }

 .second p{
    color: white;
   font-size: 84%;
 }
                                    /* third */

      .Third{
        position: relative;
        left: 6%;
        top: 100px;
      }

      .Third div{
        color: #dfae3c;
        font-weight: bold;
        font-size: 150%;
      }

      .Third p{
        color: white;
        font-size: 84%;
      }
                                /* forth */
         
      .forth{
        position: relative;
        left: 13%;
        top: 55px;
      }        
      .forth div{
        color: #dfae3c;
        font-weight: bold;
        font-size: 150%;
      }                  
      .forth p{
        color: white;
        font-size: 84%;
      }