*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: sans-serif;
    background-color: #363642;
    overflow-x: hidden;
}

                    /* ALL NAV IEMS DESIGN */

.nav-bars nav{
    display: flex;
    justify-content: space-between;
    width: 102%;
    padding: 21px;
}
 #Logo{
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-left: 78px;

}
.nav-bars ul li{
    display: inline;
    margin: 32px;
}
.nav-bars ul li a{
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 22%;
    color: white;
}
.nav-bars ul li a:hover{
    color: #dfae3c;
}


.nav-items{
    position: relative;
    right: 5%;
    letter-spacing: 33px;
    font-size: 127%;
}
.nav-items a i{
    position: relative;
    top: 30%;
    color: white;
}
.nav-items a i:hover{
    color: #dfae3c;
}

footer{
    position: absolute;
    top: 28%;
    left: 18%;
}

.text-im{
    position: relative;
    right: 10%;
    bottom: 35px;
}


.text-im h1{
    font-size: 378%;
    color: #9F9FAA;
    font-weight: lighter;
}
.text-im h4{
    color: white;
    font-size: 349%;
    margin-bottom: 3%;
    word-spacing: 0rem;
}
.text-im h4 span{
    border-bottom: 3px solid #dfae3c;
    padding-bottom: 2%;
}
.text{
    color: white;
    width: 22%;
    font-size: 84%;
    padding-top: 1%;
    line-height: 126%;

}

                               /* Pic background color */
.bor{
    width: 52%;
    /* border: 1px solid black; */
    height: 438px;
    background-color: #2d2d39;
    position: absolute;
    left: 150px;
    border-radius: 100%;
    z-index: -1;
    bottom: -65px;
}
.img{
    display: flex;
    justify-content: center; 
}
.img img{
    position: relative;
    right: 6%;
    bottom: 1rem;
    width: 32%;
    top: 16px;
}

.left-text{
    position: absolute;
    left: 56%;
    top: 28%;
    color: white;
}

.left-text p{
        margin-bottom: 2%;
}
#text{
    width: 41%;
    font-size: 106%;
    line-height: 145%;
}

.link a,i{
    color: #dfae3c;
    text-decoration: none;
    padding-top: 2%;
}
.link :hover{
    color: #9f9fab;
}
                       /* bottom social links */
 .social-back{
    border: 1px solid black;
    width: 8%;
    height: 4vh;
    position: relative;
    /* top: 51px; */
    right: 1%;
    background-color: #434657;
    z-index: -1;
    border-radius: 74%;
 }


.social i{
    width: 13px;
    height: -3vh;
    padding: 2%;
    border-radius: 68%;
    font-size: 17px;
    margin-inline: 1%;
    background-color: #434657;
    margin-top: 3%;
}      
 .social-bars{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #403f4f;
    margin-inline-end: 10%;
    margin-inline-start: 8%;
    border-radius: 20px;
    position: relative;
    bottom: 25px;
    left: 0%;
    padding: 3px;
}




/* .social-bars a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 118%;
    color: white;
}
.googl{
    width: 90px;
    position: relative;
    top: 5px;
}
.social-bars div img{
    width: 90px;
    position: relative;
    top: 5px;
} */


                                 /* use bottom background image */
section{
    background: #282834;
    padding-bottom: 189px;
    width: 100%;
    position: relative;
    bottom: 57px;
    z-index: -111;
 }


 .new-texts h3 {            
    position: relative;
    left: 9%;
    top: 142px;
    font-size: 189%;
    width: 23%;
    color: white;

 }
 .para {
    position: relative;
    left: 9%;
    top: 156px;
    font-size: 12%;
    color: aliceblue;
    font-size: 84%;
    width: 19%;
    line-height: 20px;
 }
                       /* project and experience share */


 .four-coloumbs{
    position: relative;
    top: 50px;
    left: 3%;
 }                      
                              /* first  */

 .pro{
    position: relative;
    left: 6%;
    top: 121px;
 }

 .pro div{
    color: #dfae3c;
    font-weight: bold;
    font-size: 150%;
 }
 .pro p{
    color: white;
   font-size: 84%;
 }

                               /* .second */
 .second{
    position: relative;
    left: 15%;
    top: 78px;
 }

 .second div{
    color: #dfae3c;
    font-weight: bold;
    font-size: 150%;
 }

 .second p{
    color: white;
   font-size: 84%;
 }
                                    /* third */

      .Third{
        position: relative;
        left: 6%;
        top: 100px;
      }

      .Third div{
        color: #dfae3c;
        font-weight: bold;
        font-size: 150%;
      }

      .Third p{
        color: white;
        font-size: 84%;
      }
                                /* forth */
         
      .forth{
        position: relative;
        left: 15%;
        top: 57px;
      }        
      .forth div{
        color: #dfae3c;
        font-weight: bold;
        font-size: 150%;
      }                  
      .forth p{
        color: white;
        font-size: 84%;
      }
                                                          
                                     /* left side design and products add */


     .Projects {
        display: flex;
        position: relative;
        bottom: 161px;
        right: 8%;
        
    }
    
    .Projects img{
        width: 11%;
        float: right;
        
    }
    
    .Projects a{
        text-decoration: none;
        color: #dcdae6;
        font-size: 22px;
        margin-right: 200px;
        margin-left: 25px;
        position: relative;
        top: 28px;
    }
    
   .Projects i{
       position: relative;
       top: 28px;
    }

     
       .second-project{
        display: flex;
        position: relative;
        bottom: 133px;
        right: 4%;
    }
 
    .second-project img{
        width: 12%;
        float: right;
        height: 126%;
        position: relative;
        right: 3px;
    }
    

    .second-project a{
        
        text-decoration: none;
        color: #dcdae6;
        font-size: 22px;
        margin-right: 108px;
        margin-left: 25px;
        position: relative;
        top: 28px;
    }

     .second-project i{
        
       position: relative;
       top: 28px;
     }



     
    .Third-project{
        display: flex;
        position: relative;
        bottom: 95px;
        left: 5%;
    }
    

    .Third-project img{
        width: 14%;
        float: right;
        height: 126%;
        position: relative;
        right: 3px;
    }
    

    .Third-project a{
        
        text-decoration: none;
        color: #dcdae6;
        font-size: 22px;
        margin-right: 91px;
        margin-left: 25px;
        position: relative;
        top: 28px;
    }

     .Third-project i{
        
       position: relative;
       top: 28px;
     }




                             /* Last three boxes design */
      .boxes{
   display: flex;
    justify-content: space-around;
    position: relative;
     top: 275px;
     }
                        
      .box-1{
   
        background: #403f51;
         width: 250px;
         border: 1px solid black;
         height: 230px;               
           }
                              .box-1 img{
                                width: 12%;
                                background-color: #363546;
                                margin: 6%;
                                border-radius: 70%;
                                padding: 3%;
                                box-shadow: 0px 0px 5px #363546;
                            }
                            .box-1 p{
                                position: relative;
                                left: 10%;
                                font-size: 25px;
                                 color: #dcdae6;
                            }
                              
                            
                            .box-1 div{
                                font-size: 84%;
                                margin: 10px 25px;
                                width: 72%;
                                line-height: 120%;
                                color: #dcdae6;
                            }  
                            
                        
                            .box-2{
                                background: #403f51;
                                width: 250px;
                                padding-right: 12px;
                            }
                            .box-2 img{
                                width: 12%;
                                background-color: #363546;
                                margin: 6%;
                                border-radius: 70%;
                                padding: 3%;
                                box-shadow: 0px 0px 5px #363546;
                            }
                            .box-2 p{
                                position: relative;
                                left: 10%;
                                font-size: 25px;
                                color: #dcdae6;
                            }
                            
                            .box-2 div{
                                font-size: 84%;
                                margin: 10px 25px;
                                width: 90%;
                                line-height: 120%;
                                color: #dcdae6;
                            }
                            
                              .box-3{
                                background: #403f51;
                                padding-right: 12px;
                                width: 250px;
                              }
                        
                              .box-3 img{
                                width: 12%;
                                background-color: #363546;
                                margin: 6%;
                                border-radius: 70%;
                                padding: 3%;
                                box-shadow: 0px 0px 5px #363546;
                            }
                              .box-3 p{
                                position: relative;
                                left: 10%;
                                font-size: 25px;
                                 color: #dcdae6;
                              }
                              
                              .box-3 div{
                                font-size: 84%;
                                margin: 10px 25px;
                                width: 72%;
                                color: #dcdae6;
                                line-height: 120%;
                              }